[class^="modal-"] {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;
	
	z-index: 1000;

	background-color: rgba(0, 0, 0, 0.5);

	transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
	visibility: hidden;
	opacity: 0;

	> .content {
		visibility: hidden;
		opacity: 0;
	}


	&.visible {
		visibility: visible;
		opacity: 1;

		> .content {
			display: flex;
			flex-direction: column;

			visibility: visible;
			opacity: 1;

			padding: 14px 24px;

			background: white;

			> .head {
				display: flex;
				justify-content: space-between;

				> h2 {
					display: flex;
					align-items: center;
					justify-content: center;
					
					margin: 0;
					padding: 0;
				}

				> button {
					display: flex;
					align-items: center;
					justify-content: center;
					
					margin: 0;
					padding: 0;

					background: none;
					border: none;
					font-size: 1.5rem;
					cursor: pointer;
				}
			}

			> .body {
				display: flex;

				margin-top: 18px;
			}
		}
	}
}