header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: var(--padding);

	background-color: #f8f9fa;
	border-bottom: 1px solid #dee2e6;

	
	> .left {
		display: flex;
		justify-content: center;
		align-items: center;

		> .logo {
			font-size: 24px;
		}
	}

	> .right {
		display: flex;
		justify-content: center;
		align-items: center;
		
		> svg {
			height: 22px;
			
			padding-left: 20px;
		}
	}
}