@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

html {
	--padding: 12px 30px;
	--brand-color: #f8f9fa;
	--subbrand-color: #666;
	--border-color: #dee2e6;
}

* {
	font-family: "Noto Sans KR", sans-serif;
}


body {
	margin: 0;
	padding: 0;
}